body{
    background-image: url(images/space.jfif);
    background-size: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.conteiner{
    width: 1110px;
}


.earth{
    width: 300px;
    height: 300px;
    background-image: url(images/earth.jpg);
    background-size: cover;
    border-radius: 217%;
    box-shadow: -4px 2px 56px #888580;
    position: absolute;
    top: 150%;
    left: 150%;
    transform: translate(-50% -50%);
    animation: earth 5s infinite;
}



.moon{
    width: 200px;
    height: 200px;
    background-image: url(images/moon.jpg);
    background-size: cover;
    border-radius: 217%;
    box-shadow: -4px 2px 56px #888580;
    position: absolute;
    top: 32%;
    left: 31%;
    transform: translate(-50% -50%);
    animation:orbit1 3s linear infinite;
}

@keyframes orbit1 {
    from {transform: rotate(0deg)translateX(70px) rotate(0deg);}
    to {transform: rotate(360deg)translateX(70px) rotate(-360deg);}
}

@keyframes earth {
    0% { stroke-dashoffset: 187; }
    50% {
    stroke-dashoffset: 46.75;
    transform:rotate(135deg);
    }
    100% {
    stroke-dashoffset: 187;
    transform:rotate(450deg);
    }
    }

